.map_wrap {position:relative;overflow:hidden;width:100%;height:100%;}

.custom_topposition{height: 70px;position:absolute; top:10px; left:10px; display:inline-block;}
.custom_regendcontrol {background:#fff;background:linear-gradient(#fff,  #e6e6e6);position:relative;top:0;left:0;overflow:hidden;height:25px;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_regendcontrol span {width:200px;height:40px;float:left;text-align:left;cursor:pointer;position:relative;left:10px;top:5px;}

.radius_border{border:1px solid #919191;border-radius:5px;}     
.custom_typecontrol {position:absolute;top:10px;right:50px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}
.custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}
.custom_typecontrol .checked_btn {background:#54dd39;background:linear-gradient(#54dd39,  #e6e6e6);}
.custom_typecontrol .checked_btn:hover {background:#70b163;background:linear-gradient(#70b163,#e3e3e3);}
.custom_typecontrol .checked_btn:active {background:#4c534b;background:linear-gradient(#4c534b, #fff);}
.custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol .selected_btn:hover {color:#fff;}
.custom_typecontrol .btn.green:hover {background:linear-gradient(#4CAF50, #45A049);}
.custom_typecontrol .btn.green:active {background:linear-gradient(#388E3C, #4CAF50);}
.custom_typecontrol .btn.red:hover {background:linear-gradient(#F44336, #D32F2F);}
.custom_typecontrol .btn.red:active {background:linear-gradient(#C62828, #F44336);}
.custom_typecontrol .btn.blue:hover {background:linear-gradient(#2196F3, #1E88E5);}
.custom_typecontrol .btn.blue:active {background:linear-gradient(#1565C0, #0D47A1);}

.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;}
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}
.custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}

.custom_optioncontrol {background:#fff;background:linear-gradient(#fff,  #e6e6e6);position:absolute;bottom:10px;left:10px;right:10px;overflow:hidden;height:25px;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_optioncontrol span {display:block;width:36px;height:40px;float:left;text-align:center;cursor:pointer;}

/* 경로선 정보 */
.dot {overflow:hidden;float:left;width:12px;height:12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png');}    
.dotOverlay {position:relative;bottom:10px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#fff;}
.dotOverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}    
.number {font-weight:bold;color:#ee6152;}
.dotOverlay:after {content:'';position:absolute;margin-left:-6px;left:50%;bottom:-8px;width:11px;height:8px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')}
.distanceInfo {position:relative;top:5px;left:5px;list-style:none;margin:0;}
.distanceInfo .label {display:inline-block;width:70px;}
.distanceInfo:after {content:none;}

.angle {position:relative;bottom:10px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#fff;}
.angle:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}   

.area { position: absolute; background: #fff; border: 1px solid #888; border-radius: 3px; font-size: 12px; top: -5px; left: 15px; padding:2px; }


.circle_ent { width: 10px; height: 10px; border-radius: 50%; background: #FF0000; position:absolute; top: 8px; left: 10px;}
.circle_ent span { display:block;width:100px;height:50;float:left;text-align:left;cursor:pointer; position:absolute; top: -3px; left: 15px;}
.circle_cpx { width: 10px; height: 10px; border-radius: 50%; background: #CFE7FF; position:absolute; top: 8px; left: 80px}
.circle_cpx span {display:block;width:100px;height:50;float:left;text-align:left;cursor:pointer; position:absolute; top: -3px; left: 15px;}
.circle_road { width: 10px; height: 10px; border-radius: 50%; background: #6666FF; position:absolute; top: 8px; left: 180px;}
.circle_road span {display:block;width:100px;height:50;float:left;text-align:left;cursor:pointer; position:absolute; top: -3px; left: 15px;}

.circle_1 { width: 18px; height: 18px; border-radius: 50%; background: #FF0000; position:absolute; top: 20px; left: 1px;}
.circle_1 span { text-align: center;-webkit-text-stroke: 1px #FFF;} 
.circle_2 { width: 18px; height: 18px; border-radius: 50%; background: #FF0000; position:absolute; top: 20px; left: 1px;}
.circle_2 span { text-align: center;-webkit-text-stroke: 1px #FFF;} 
.circle_3 { width: 18px; height: 18px; border-radius: 50%; background: #CFE7FF; border: 1px solid #71abe6; position:absolute; top: 20px; left: 1px}
.circle_3 span { text-align: center;-webkit-text-stroke: 1px #000;} 
.circle_4 { width: 18px; height: 18px; border-radius: 50%; background: #6666FF; position:absolute; top: 20px; left: 1px;}
.circle_4 span { text-align: center;-webkit-text-stroke: 1px #FFF;} 

.circle_start { width: 18px; height: 18px; border-radius: 50%; background: #0000ff; position:absolute; top: 28px; left: 1px;}
.circle_start span { text-align: center;-webkit-text-stroke: 1px #FFF;} 
.circle_via { width: 18px; height: 18px; border-radius: 50%; background: #ff9100; position:absolute; top: 28px; left: 1px;}
.circle_via span { text-align: center;-webkit-text-stroke: 1px #FFF;} 
.circle_end { width: 18px; height: 18px; border-radius: 50%; background: #ff0000; border: 1px solid #71abe6; position:absolute; top: 28px; left: 1px}
.circle_end span { text-align: center;-webkit-text-stroke: 1px #FFF;} 

/* 좌측 토글 탭 */
#tabWrapper { transition: left 0.3s ease; }
/* #tabToggleHandle:hover { background: #ddd; color: #000; } */
#tabToggleHandle:hover #toggleIcon { color:#000; font-size: 17px;text-shadow: 0 0 3px rgba(0,0,0,0.8) } /* 부드러운 그림자 효과 */

/* 리스트 스타일 */
#menu_wrap {position:absolute;top:80px;left:10px;width:250px; height:50%;margin:1px 0 30px 1px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.8);z-index:1;font-size:13px;border-radius:10px;overflow-y:auto;}
#menu_wrap ul {padding: 0;margin-top: 0;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:0;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 5px;}
/* #placesList .item .info:hover {background:rgb(140, 224, 250)}
#placesList .item .info:active {background:rgb(86, 208, 245)}
#placesList .item .info.selected_btn {background:rgb(52, 121, 177)} */
#placesList .info .type {color:#080808;padding-left:20px}
#placesList .info .title {color:#080808;}
#placesList .info .attr {color:#080808;}
#placesList .info .addr {color:#4d4b4b;}
#placesList .info .coord {color:#009900;}

/* 리스트 아이템 */
.poi_item {position:relative;padding-right:60px;padding-bottom:10px;border-bottom:1px solid #ccc;}
.poi_item:hover {background:#e0e0e0;}

/* 리스트내 경로 탐색(출/도착) 버튼 */
.poi_item .button_container {display:none; position:absolute; top:50%; transform:translateY(-50%);flex-direction:column; gap:5px;}
.poi_item:hover .button_container {display:flex;border-radius:10px;}
.route_button {position:absolute;width:50px;height:30px;background:#fff;background:linear-gradient(#fff,  #e6e6e6);border:0;font-size:12px;}
.route_button:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.route_button:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}
.route_button.green:hover {background:linear-gradient(#4CAF50, #45A049);}
.route_button.green:active {background:linear-gradient(#388E3C, #4CAF50);}
.route_button.red:hover {background:linear-gradient(#F44336, #D32F2F);}
.route_button.red:active {background:linear-gradient(#C62828, #F44336);}
.route_button.blue:hover {background:linear-gradient(#2196F3, #1E88E5);}
.route_button.blue:active {background:linear-gradient(#1565C0, #0D47A1);}

.header {
    height: 65px;
    background-color: #2A2C35;
    margin: 0;
    margin-top: 0;
}



/* 토스트 스타일 */
.toast {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    color: rgb(71, 71, 71);
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 13px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.toast.visible {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
}

.toast.success {
    background-color: #ffffff;
}

.toast.error {
    background-color: #F44336;
}


/* html,body {width:100%;  } */
/* body,div,ul,li{margin:0; padding:0;} */
/* ul,li {list-style:none;} */

/*tab css*/
.tab{float:left; width:600px; height:290px;}
.tabnav{font-size:0; width:600px; border:1px solid #ddd;}
.tabnav li{display: inline-block;  height:25px; text-align:center; border-right:1px solid #ddd;}
.tabnav li a:before{content:""; position:absolute; left:0; top:0px; width:100%; height:3px; }
.tabnav li a.active:before{background:#0471ff;}
.tabnav li a.active{border-bottom:1px solid #fff;}
.tabnav li a{ position:relative; display:block; background: #f8f8f8; color: #000; padding:0 30px; line-height:25px; text-decoration:none; font-size:11px;}
.tabnav li a:hover,
.tabnav li a.active{background:#fff; color:#7ea21e; }
.tabcontent{padding: 0px; height:244px; border:1px solid #ddd; border-top:none;}



#pulseMarker {
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.pulse {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0, 122, 255, 0.4);
  animation: ripple 1.5s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.desktop-only {
    display: none;
}


#popupMarker {
  display: block;
  border: 1px solid #919191;border-radius:10px;
}

.popup {
  position: absolute;
  border: 1px solid #919191;border-radius:10px;
  transform: translate(-50%, -100%);
}

.route-btn {
  display: block;
  width: 100px;
  margin: 5px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background 0.3s;
}

.route-btn.depart {
  background-color: #007bff;
}

.route-btn.arrive {
  background-color: #28a745;
}

.route-btn:hover {
  opacity: 0.85;
}